version: '3.8'

services:
  php:
    build: ./backend
    container_name: scanditest-php
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    container_name: scanditest-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: scandiweb
      MYSQL_USER: scandi
      MYSQL_PASSWORD: scandi
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
